.animate{
    animation: fadeIn 1s ease-in-out forwards;
}
/* OUTER TEXT LINES */
.outer-p1,
.outer-p2,
.outer-p3,
.outer-p4 {
    color: #fff;
    font-size: 12px;
    position: absolute;
}
.outer-p1 {
    top: 9%;
    left: 30%;
    /* transform: translateX(-40%); */
}

.outer-p2 {
    top: 15.5%;
    left: 7%;
}

.outer-p3 {
    top: 75%;
    left: 7%;
}

.outer-p4 {
    top: 90%;
    left: 18%;
}
.hero1 {
    background: linear-gradient(90deg, rgba(41,57,144,1) 41%, rgba(32,142,233,1) 100%);
    display: flex;
    align-items: center;
    width: 100%;
    height: 140vh;
    position: relative;
}

@-webkit-keyframes animate-svg-stroke-1{0%{stroke-dashoffset:2535.332763671875px;stroke-dasharray:2535.332763671875px}100%{stroke-dashoffset:0;stroke-dasharray:2535.332763671875px}}@keyframes animate-svg-stroke-1{0%{stroke-dashoffset:2535.332763671875px;stroke-dasharray:2535.332763671875px}100%{stroke-dashoffset:0;stroke-dasharray:2535.332763671875px}}.svg-elem-1{-webkit-animation:animate-svg-stroke-1 2s linear 0s both;animation:animate-svg-stroke-1 2s linear 0s both}@-webkit-keyframes animate-svg-stroke-2{0%{stroke-dashoffset:996.4227294921875px;stroke-dasharray:996.4227294921875px}100%{stroke-dashoffset:0;stroke-dasharray:996.4227294921875px}}@keyframes animate-svg-stroke-2{0%{stroke-dashoffset:996.4227294921875px;stroke-dasharray:996.4227294921875px}100%{stroke-dashoffset:0;stroke-dasharray:996.4227294921875px}}.svg-elem-2{-webkit-animation:animate-svg-stroke-2 2s linear 0.12s both;animation:animate-svg-stroke-2 2s linear 0.12s both}
svg .svg-elem-1{stroke-dashoffset:3767.999267578125px;stroke-dasharray:3767.999267578125px;-webkit-transition:stroke-dashoffset 1s ease-in-out 0s;transition:stroke-dashoffset 1s ease-in-out 0s}svg.active .svg-elem-1{stroke-dashoffset:0}

.outline-svg {
    position: absolute;
    width: 45%;
    bottom: 7%;
}
.polygon-bg-wrap{
    position: relative;
    width: 85%;
    margin: auto;
    display: flex;
    /* border: 2px solid white; */
}

.polygon-bg {
    width: 100%;
    margin: auto;
    /* opacity: 0; */
    animation: fadeIn 1s ease-in-out forwards;
}
.animate{
    animation: fadeIn 1s ease-in-out forwards;

}
.polygon-bg-stroke{
    width: 80%;
    margin: auto;
}

.hero-content {
    position: absolute;
    z-index: 2;
    margin-left: 30%;
    width: fit-content;
    top: 45%;
    height: fit-content;
    text-align: left;
    /* border: 2px solid black; */
    
    /* align-items: center; */
    /* top: calc(50% - 7%);  */
    transform: translate(-50%, -50%); /* Center the hero content both horizontally and vertically */
}
.hero-content p{
    width: 90%;
    /* margin: 3% 0; */
    /* font-weight: ; */
    font-size: 1rem;
}
.hero-content button{
    background-color: #2B3DA1;
    color: #fff;
    border: none;
    font-size: 0.8rem;
    padding: 15px 20px;
    border-radius: 50px;
    letter-spacing: 0.1cqmin;
    transition: background-color 0.4s ease-in-out;
}
.hero-content button:hover{
    color: #2B3DA1;
    background-color: transparent;
    border: 1.5px solid #2B3DA1;
}
.hero-content h1 {
    font-size: 3.5rem;
    
}
.hero-strip{
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
.hero-strip p{
    width: fit-content;
}
.hero-strip p span{
    font-weight: bold;
}

/* CAROUSEL */
.appliances-slide{
    position: absolute;
    /* z-index: 2; */
    top: 17%;
    overflow: hidden;
    right: 18%;
    width: 33%;
    height: 51%;
}
.carousel-indicators [data-bs-target]{
    display: none;
}
/* GREEN SQUARE */
.tilt-card{
    position: absolute;
    top: 0%;
    /* left: 74%; */
    width: 26%;
    right: -2%;
    z-index: 1;
}
.green-square{
    /* position: absolute; */
    /* top: 0%; */
    /* left: 69%; */
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* APPLIANCES */
.tilt-card2{
    position: absolute;
    top: 58%;
    left: 70%;
    width: 45%;
    height: 45%;
    width: 26%;
    z-index: 1;
}
.appliances2{
    width: 100%;
    z-index: 1;
}
/* LIFE CARD */
.life-card{
    position: absolute;
    width: 25%;
    height: 22%;
    background-color: #F4F4F4;
    border-radius: 18px;
    align-items: center;
    padding: 1%;
    bottom: -10%;
    /* top: 70; */
    /* top: 73% I !important; */
    /* bottom: 8%; */
    left: 40%;
}
.life-card img{
    width: 65%;
    height: 90%;
}
.life-card p{
    text-align: left;
    /* margin-left: 12px; */
    margin: 0 0 0 12px;
    line-height: 1.2;
    font-size: 1rem;
}
.span3{
    position: absolute;
    background-image: linear-gradient(90deg in oklab, #2B3DA1 , #005EAB);
    padding: 2% 4%;
    color: #fff;
    border-radius: 50px;
    top: -14%;
    left: -5%;
    font-size: 14px;
    z-index: 2;

}