.homepage-conatiner{
   width: 100vw;
   height: 100vh;
    overflow-Y: auto;
    z-index: -1;
    font-family:Arial, Helvetica, sans-serif;
}
.main-section-homepage-container{
    background: url("../../public/Colgate.jpg");
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    padding: 10%;
    align-self: center;
}
.main-section-homepage-container .text-container-inside{
 color: white;
 width: 50%;
 justify-self: center;
 align-self: center;
}
.text-container-inside .heading-5{
color: rgb(227, 31, 39);
font-size: 120px;
text-shadow: 1px 2px 1px rgb(255, 255, 255);
font-weight: 900;
}

.heading-5{
    width: 100%;
    display: flex;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
.heading-5-frist-child{
    width: 80%;
    display: flex;
    font-size: 70px;
   text-shadow: 1px 2px 1px rgb(255, 255, 255);
   font-weight: 900;
}
.breakline{
    width: 50%;
    margin-top: -10px;
}
.heading-5-small-child{
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-size: 25px;
    font-weight: 500;
    margin-top: 1rem;
}
.aeroplane-svg{
    width: 100px;
    position: absolute;
    bottom: 20px;
    left: 40px;
}
.aeroplane-svg img{
    width: 100px;
}
.mask-svg{
    width: 185px;
    position: absolute;
    top: 170px;
    right: 425px;
}
.Doorbean-svg{
    width: 185px;
    position: absolute;
    top: 460px;
    right: 598px;
}
.Doorbean-svg img{
    transform: rotate(-60deg);
}
.aeroplane1-svg{
    width: 185px;
    position: absolute;
    top: 40px;
   right: 10px;
}
.aeroplane1-svg img{
  transform: rotate(45deg);
}
.machine-svg{
    width: 90px;
    position: absolute;
    top: 380px;
    right: 460px;
}
.chasma-svg{
    width: 90px;
    position: absolute;
    top: 330px;
    right: 194px;
}
.chasma-svg img{
    transform: rotate(48deg);
}
.magnifire-svg{
    width: 90px;
    position: absolute;
    top: 585px;
    right: 364px;
}
.aeroplane3-svg{
    width: 125px;
    position: absolute;
    bottom: 40px;
   right: 10px;
}
.aeroplane3-svg img{
    transform: rotate(-50deg);
}
.Book-svg{
    width: 120px;
    position: absolute;
    top: 500px;
    right: 520px; 
}
.cap-svg{
    width: 165px;
    position: absolute;
    top: 169px;
    right: 650px;
    opacity: 0.5;
}
.cap-svg img{
transform: rotate(-36deg);
}
.st0{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
/***************************************************
 * Generated by SVG Artista on 3/22/2024, 11:55:26 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 svg .svg-elem-1{stroke-dashoffset:823.2123196483718px;stroke-dasharray:823.2123196483718px;-webkit-transition:stroke-dashoffset 1s ease-in 1.5s;transition:stroke-dashoffset 1s ease-in 1.5s}svg.active .svg-elem-1{stroke-dashoffset:0}svg .svg-elem-2{stroke-dashoffset:226.30966186523438px;stroke-dasharray:226.30966186523438px;-webkit-transition:stroke-dashoffset 1s ease-in 1.62s;transition:stroke-dashoffset 1s ease-in 1.62s}svg.active .svg-elem-2{stroke-dashoffset:0}svg .svg-elem-3{stroke-dashoffset:91.41445922851562px;stroke-dasharray:91.41445922851562px;-webkit-transition:stroke-dashoffset 1s ease-in 1.74s;transition:stroke-dashoffset 1s ease-in 1.74s}svg.active .svg-elem-3{stroke-dashoffset:0}svg .svg-elem-4{stroke-dashoffset:91.41441345214844px;stroke-dasharray:91.41441345214844px;-webkit-transition:stroke-dashoffset 1s ease-in 1.8599999999999999s;transition:stroke-dashoffset 1s ease-in 1.8599999999999999s}svg.active .svg-elem-4{stroke-dashoffset:0}svg .svg-elem-5{stroke-dashoffset:30.899993896484375px;stroke-dasharray:30.899993896484375px;-webkit-transition:stroke-dashoffset 1s ease-in 1.98s;transition:stroke-dashoffset 1s ease-in 1.98s}svg.active .svg-elem-5{stroke-dashoffset:0}svg .svg-elem-6{stroke-dashoffset:30.899993896484375px;stroke-dasharray:30.899993896484375px;-webkit-transition:stroke-dashoffset 1s ease-in 2.1s;transition:stroke-dashoffset 1s ease-in 2.1s}svg.active .svg-elem-6{stroke-dashoffset:0}svg .svg-elem-7{stroke-dashoffset:87.80000305175781px;stroke-dasharray:87.80000305175781px;-webkit-transition:stroke-dashoffset 1s ease-in 2.2199999999999998s;transition:stroke-dashoffset 1s ease-in 2.2199999999999998s}svg.active .svg-elem-7{stroke-dashoffset:0}svg .svg-elem-8{stroke-dashoffset:94.99114254625788px;stroke-dasharray:94.99114254625788px;-webkit-transition:stroke-dashoffset 1s ease-in 2.34s;transition:stroke-dashoffset 1s ease-in 2.34s}svg.active .svg-elem-8{stroke-dashoffset:0}svg .svg-elem-9{stroke-dashoffset:277.18975830078125px;stroke-dasharray:277.18975830078125px;-webkit-transition:stroke-dashoffset 1s ease-in 2.46s;transition:stroke-dashoffset 1s ease-in 2.46s}svg.active .svg-elem-9{stroke-dashoffset:0}svg .svg-elem-10{stroke-dashoffset:13.69999885559082px;stroke-dasharray:13.69999885559082px;-webkit-transition:stroke-dashoffset 1s ease-in 2.58s;transition:stroke-dashoffset 1s ease-in 2.58s}svg.active .svg-elem-10{stroke-dashoffset:0}svg .svg-elem-11{stroke-dashoffset:13.600000381469727px;stroke-dasharray:13.600000381469727px;-webkit-transition:stroke-dashoffset 1s ease-in 2.7s;transition:stroke-dashoffset 1s ease-in 2.7s}svg.active .svg-elem-11{stroke-dashoffset:0}svg .svg-elem-12{stroke-dashoffset:14.399999618530273px;stroke-dasharray:14.399999618530273px;-webkit-transition:stroke-dashoffset 1s ease-in 2.82s;transition:stroke-dashoffset 1s ease-in 2.82s}svg.active .svg-elem-12{stroke-dashoffset:0}