.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo-animate{
  width: 100%;
}
.special-div{
  width: 150px;
}
.container-dropdown{
  position: absolute;
  left: 60px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  text-transform: capitalize;
}
.helper{
  background: red;
  opacity: 0;
  left:0px;
  width: 130px;
  height: 50px;
  position: absolute;
}
.container-dropdown span {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
  transition: color 1s ease;
}

.container-dropdown span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: transparent;
  bottom: -3px;
  left: 0;
  transition: background-color 1s ease, transform 1s ease;
  transform-origin: left;
}

.container-dropdown span:hover::before {
  background-color: red; /* Change to your desired underline color */
  transform: scaleX(1);
  transform-origin: left;
}
.square-rotate{
  background: var(--black);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  position: absolute;
  left: 50px;
  margin-top: 20px;
  transform: rotate(45deg);
}